IOPAINT_VERSION=1.5.3
IOPAINT_INSTALL_TOYS=1
IOPAINT_PORT=8086
IOPAINT_MODEL=lama
IOPAINT_DEVICE=cpu
IOPAINT_MEMORY_LIMIT=4g
IOPAINT_ENABLE_INTERACTIVE_SEG=1
IOPAINT_INTERACTIVE_SEG_MODEL=mobile_sam
IOPAINT_INTERACTIVE_SEG_DEVICE=cpu
IOPAINT_ENABLE_REMOVE_BG=1
IOPAINT_REMOVE_BG_MODEL=briaai/RMBG-1.4
IOPAINT_REMOVE_BG_DEVICE=cpu
IOPAINT_ENABLE_ANIME_SEG=1
IOPAINT_ENABLE_REALESRGAN=1
IOPAINT_REALESRGAN_DEVICE=cpu
IOPAINT_REALESRGAN_MODEL=realesr-general-x4v3
IOPAINT_ENABLE_GFPGAN=1
IOPAINT_GFPGAN_DEVICE=cpu
IOPAINT_ENABLE_RESTOREFORMER=1
IOPAINT_RESTOREFORMER_DEVICE=cpu
